<div id="gaBanner"> 
{{#if isBannerNeeded}}
  <div class="cookieconsent"> 
    <span style="vertical-align:middle;height:100%"> 
      En poursuivant la navigation sur ce site, vous autorisez celui-ci à utiliser des cookies à des fins de mesure d'audience...
      <button {{action 'decline' }} class="consent">Refuser</button>
      <button {{action 'more' }} class="more">En savoir plus...</button>
    </span>
  </div>
{{/if}}
</div>

