<h3>Présentation des mentions légales</h3>

<p>Toute cette page est à mettre en place dans l'application finale. Elle ne fait pas partie de l'add-on.
Seul le 'pré-cablage' est effectué.</p>

<p>Pour réaliser celui, lancer la commande: 'ember generate route mentionslegales' en ligne de commande dans votre projet ember.</p>

{{link-to 'retour' 'application' }}

{{outlet}}
